<section class="section">
  <header>
    <h1 class="title">Lista de tareas</h1>
    <p>Gestiona las tareas marcándolas como completadas.</p>
  </header>

  <!-- Filtros -->
  <div class="container">
    <mat-radio-group (change)="addFilter()" [(ngModel)]="filter">
      <mat-radio-button value="all">Todas</mat-radio-button>
      <mat-radio-button value="completed">Completadas</mat-radio-button>
      <mat-radio-button value="pending">Pendientes</mat-radio-button>
    </mat-radio-group>

    <!-- Lista de tareas -->
    <div class="tasks">
      <ul class="tasks-list">
        <li *ngFor="let task of filteredTasks" class="task-card">
          <div class="task-header">
            <h3>{{ task.taskName }}</h3>
            <span
              class="task-status"
              [ngClass]="{
                completed: task.isCompleted,
                pending: !task.isCompleted
              }"
            >
              {{ task.isCompleted ? "Completada" : "Pendiente" }}
            </span>
          </div>
          <p class="task-limit-date">
            Fecha límite: {{ task.taskLimitDate | date : "dd/MM/yyyy" }}
          </p>

          <!-- Personas asociadas -->
          <div class="task-persons">
            <h4>Personas asociadas:</h4>
            <ul class="persons-list">
              <li *ngFor="let person of task.persons">
                <div class="person-info">
                  <strong>{{ person.name }} ({{ person.age }} años)</strong>
                  <p>
                    Habilidades:
                    <span *ngFor="let skill of person.skills">
                      {{ skill.name }}</span
                    >
                  </p>
                </div>
              </li>
            </ul>
          </div>
          <button
            mat-raised-button
            color="primary"
            (click)="toggleTaskCompletion(task)"
          >
            {{
              task.isCompleted
                ? "Marcar como pendiente"
                : "Marcar como completada"
            }}
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>
